@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {
  background-color: #060621;
  padding: 15px;
  border: none;
  border-radius: 12px;
  position: fixed;
  top: auto;
  right: 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  height: -moz-available;
}

.select {
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 0 0 0px 0;
  background-color: #0F111A;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 10px;
  display: flex;
  color: #601221;
  border: none;
}

.select:hover {
  background-color: #0B0C13;
}

.option {
  padding: 10px
}

.title {
  background-color: #060621;
  color: white;
  margin-bottom: 0;
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  border-radius: 12px 12px 0 0;
  font-size: 32px;
  text-align: center;
}

.editor {
  text-align: left;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-bottom: 0;
  border: none;
}

.editor>div {
  width: -webkit-fill-available;
  width: -moz-available;
}
.react-monaco-editor-container>div>div {
  width: -webkit-fill-available;
  width: -moz-available;
}

.monaco-editor.no-user-select.showUnused.showDeprecated.vs-dark {
  width: -webkit-fill-available;
  width: -moz-available;
}

.CodeMirror-vscrollbar {
  z-index: 3;
}

.CodeMirror-hscrollbar {
  z-index: 3;
}

.CodeMirror-scrollbar-filler {
  z-index: 3;
}

.CodeMirror-gutter-filler {
  z-index: 3;
}

.addCode {
  background-color: #030404;
  color: #601221;
  font-weight: bolder;
  font-size: 3vw;
  margin-bottom: 0;
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  border-radius: 0 0 12px 12px;
  margin-top: 0;
  padding: 10px;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 500ms;
}

.addCode:hover {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.displayedSnippet {
  width: 25%;
  background-color:#263238;
  color: white;
  border: none;
  border-radius: 12px 12px 0 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 50px 10px 10px 10px;
  display: inline-block;
  transition: box-shadow 500ms;
}

.displayedSnippet:hover {
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);
}

.displayedSnippetTitle {
  background-color: #20261F;
  border-radius: 12px 12px 0 0;
  margin-bottom: 0;
  margin-top: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.displayedSnippetTitle:hover {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);
    white-space: normal;
    text-overflow: initial;
}

.edit {
  padding: 5px;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1024px) {
  .displayedSnippet {
    width: 95%;
    background-color:#263238;
    color: white;
    border: none;
    border-radius: 12px 12px 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 50px 10px 10px 10px;
    display: inline-block;
  }
  
  .displayedSnippet:hover {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);
  }
  
  .displayedSnippetTitle {
    background-color: #20261F;
    border-radius: 12px 12px 0 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  .nav {
    flex-direction: row;
    right: auto;
    top: 0;
    left: auto;
    width: -webkit-fill-available;
    height: max-content;
    position: sticky;
    z-index: 6;
  }
}

#getStarted {
  background-color:#060621;
  color: white;
  margin: auto;
  margin-top: 40px;
}

#denied {
  background-color:#060621;
  color: white;
  margin: auto;
  margin-top: 40px;
}

#fp {
  width: max-content;
  background-color: #2F3E46;
  margin: auto;
  padding: 10px;
  margin-bottom: 50px;
  border: none;
  border-radius: 12px;
}


.titleContainer {
  background-color: #263238;
  width: 50%;
  margin: auto;
  display: flex;
  height: max-content;
  flex-direction: row;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 135px;
  margin-bottom: 40px;
}

.titlePic {
  width: 30%;
  height: 30%;
  vertical-align: middle;
}

.titleTextContainer {
  background: transparent;
}

.titleText {
  font-family: Roboto;
  font-style: normal;
  font-weight:bolder;
  text-align: center;
  color: #14B9B5;
  vertical-align: middle;
  margin: auto 1px;
  margin-right: 0;
  padding: 0;
  font-size: 5vw;
  background: rgb(0,195,155);
  background: linear-gradient(90deg, rgb(48, 8, 16) 0%, rgb(96, 18, 33) 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.featureContainerContainer {
  width: 85%;
  margin: auto;
}

.featureContainer {
  background-color: #303C48;
  /* width: 50%;
  position: fixed;
  left: 1px */
  width: 85%;
  margin: auto;
  border-radius: 20px;
  height: max-content;
}

.carouselPic {
  width: 50%;
  height: 50%;
  vertical-align: middle;
  margin: auto;
  display: flex;
  backdrop-filter: blur(20px);
}

.carouselPic:hover {
  backdrop-filter: none;
}

.description {
  /* display: flex; */
  margin:  10px auto 10px auto;
  width: 90%;
  color: #14B9B5;
  background: rgba(48, 60, 72, 0.5);
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  font-weight: bolder;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
}

.description {
  margin:  auto 5px;
  width: 90%;
  color: #601221;
  background: rgba(48, 60, 72, 0.5);
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  font-weight: bolder;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
}

.enter {
  cursor: pointer;
  background-color: #030404;
  color: #601221;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  border-radius: 0 0 6px 6px;
  text-align: center;
  width: -webkit-fill-available;
  width: -moz-available;
  font-size: calc(1rem + 1.5vw);
  border: none;
  display: block;
}

.footerContainer {
  background-color: #263238;
  width: max-content;
  margin: auto;
  display: flex;
  height: max-content;
  flex-direction: row;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-bottom: 40px;
  padding: 10px;
}

.footerText {
  font-family: Roboto;
  font-style: normal;
  font-weight:bolder;
  text-align: center;
  color: #14B9B5;
  vertical-align: middle;
  margin: auto 1px;
  margin-right: 0;
  padding: 0;
  font-size: 3vw;
  background: rgb(0,195,155);
  background: linear-gradient(90deg, rgb(48, 8, 16) 0%, rgb(96, 18, 33) 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}