#nav {
    position: sticky;
    top: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgba(38, 50, 56, 0.6);
    backdrop-filter: blur(8px);
    z-index: 5;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#nav>img {
    margin: auto;
    vertical-align: middle;
    width: 48px;
    height: auto;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    #nav {
        position: fixed;
        bottom: 0;
        top: initial;
        margin-top: 10px;
        box-shadow: none;
    }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)){
    #nav {
        background-color: rgba(38, 50, 56, 1);
    }
}